<div class="topbar">
    <br>
    <h1>SatPoint</h1>
    <br>
</div>

<div class="topnav mb-3">
<a routerLink="/homepage" class = "topLink" target="_top">Browse</a>
<a routerLink="/recent" class = "topLink" target="_top">Recently Added</a>
<a routerLink="/add" class="topLink" target="_top">AboveMe</a>
<!-- <a routerLink="/favorites" class = "topLink" target="_top">Favorites</a> -->
<a routerLink="/profile" class = "topLink" target="_top">Profile</a>
<a style="text-decoration:none" class = "topLink" (click)="onLogout()" target="_top">Logout</a>
</div>
